#homeBlock{
    width: 100%;
    margin-top: 50px;
}
#homeBlock > article{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-bottom: 20px;
    font-size: 34px;
    font-family: sans-serif;
    color: rgb(13, 135, 13);
}
table{
    width: 100%;
    margin-top: 30px;
}
table , th , td{
    border: 2px solid #ccc;
    border-collapse: collapse;
    padding: 12px;
}

.createData > a{
    text-decoration: none;
    margin-bottom: 10px;
    padding: 10px 30px;
    background-color: dodgerblue;
    color: #fff;
    border-radius: 4px;
}

.edit , .delete{
    padding: 8px 10px;
    margin: 0px 8px;
    border: none;
    color: #fff;
    border-radius:6px ;
}

.edit{
    background-color: green;
}
.delete{
    background-color: crimson;
}